@model string
<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="color-line"></div>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="firstModalLabel">查看图片</h4>
		</div>

		<div class="row modal-body">
			<div>
				<div class="show-img"><img src="@Model"></div>
			</div>
		</div>
	</div>
</div>
