<!-- WIDGET TABBED CONTENT -->
<!-- 骨干教师 -->
<div class="widget">
	<div class="widget-header">
		<h3>虹口区教育系统教师专业人才梯队 <strong class="red">骨干教师-质评</strong> 指标</h3>
		<ul class="nav nav-tabs pull-right">
			<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 自身发展</a></li>
			<li><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 培训课程</a></li>
			<li><a href="#tab3" data-toggle="tab"><i class="fa fa-tag"></i> 带教教师</a></li>
			<li><a href="#tab4" data-toggle="tab"><i class="fa fa-tag"></i> 特色</a></li>
		</ul>
	</div>
	<div class="widget-content">
		<div class="tab-content no-padding">

			<!-- 自身发展 -->
			<div class="tab-pane fade in active" id="tab1">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th class="table-col-20p">任务要求</th>
							<th class="table-col-10p">考核分类</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<!-- 读书活动 -->
					<tbody>
						<tr>
							<td rowspan="7">读书活动</td>
							<td rowspan="7"></td>
							<td rowspan="7">
								1.书目类别：专业类、教育类、人文类、科学类、管理类。数量要求：至少2本/年<br />
								2.撰写读书心得：至少2篇/年（800字以上/篇）<br />
							</td>
							<td rowspan="4">达量质考</td>
							<td>A：高质量的读书心得，达到在刊物上发表的水平</td>
							<td>5.4分--6.0分</td>

						</tr>
						<tr>
							<td>B：完成读书要求，读书心得内容质量总体较高，值得推荐、交流</td>
							<td>4.8分--5.4分</td>
						</tr>
						<tr>
							<td>C：完成读书要求，读书心得内容质量总体较好，能看出有价值的内容</td>
							<td>4.2分--4.8分</td>
						</tr>
						<tr>
							<td>D：读书心得内容质量一般，文字量较少（有的篇幅少于800字）</td>
							<td>3.6分--4.2分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：已完成的任务质量较高，值得推荐、发表</td>
							<td>3.6分--4.2分</td>
						</tr>
						<tr>
							<td>B：已完成的任务质量一般</td>
							<td>1.8分--2.4分</td>
						</tr>
						<tr>
							<td>C：没有提交读书心得；或者提交的材料没有价值</td>
							<td>0分</td>
						</tr>
						<!-- 开展示课 -->
						<tr>
							<td rowspan="5">开展示课</td>
							<td rowspan="16">此三项指标分值累加，上限不超过最高得分</td>
							<td rowspan="5">至少有1节校级及以上考核学科类的展示课</td>
							<td rowspan="4">达量质考</td>
							<td>A：高质量、高水准、具有示范性的展示课</td>
							<td>27.0分--30.0分</td>
						</tr>
						<tr>
							<td>B：质量较高，开设的展示课值得向同行推荐、借鉴</td>
							<td>24.0分--27.0分</td>
						</tr>
						<tr>
							<td>C：质量较好，开设的展示课中部分内容值得推荐</td>
							<td>21.0分--24.0分</td>
						</tr>
						<tr>
							<td>D：质量一般，完成了规定的任务</td>
							<td>18.0分--21.0分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有开课；或者没有相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 担任评委工作 -->
						<tr>
							<td rowspan="5">担任评委工作</td>
							<td rowspan="5">担任至少1次校级及以上的评委工作</td>
							<td rowspan="4">达量质考</td>
							<td>A：专业水平要求较高的区级及以上教育教学评比活动</td>
							<td>27.0分--30.0分</td>
						</tr>
						<tr>
							<td>B：综合性或专业水平要求较高的校际间评比活动</td>
							<td>24.0分--27.0分</td>
						</tr>
						<tr>
							<td>C：常规性、专业水准要求较高的校级评比活动</td>
							<td>21.0分--24.0分</td>
						</tr>
						<tr>
							<td>D：常规性、专业水准要求一般的校级评比活动</td>
							<td>18.0分--21.0分</td>
						</tr>
						<tr>
							<td>减量质考</td>
							<td>A：没有进行此项工作；或者没有相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 评比获奖 -->
						<tr>
							<td rowspan="6">评比获奖</td>
							<td rowspan="6">至少1项区级及以上的奖项</td>
							<td rowspan="4">达量质考</td>
							<td>A：主持或负责的课题或项目获较高奖项；或其他较高水准的大奖</td>
							<td>27.0分--30.0分</td>
						</tr>
						<tr>
							<td>B：参与的重大课题或项目获较高奖项；或其他专业水平较高的奖项</td>
							<td>24.0分--27.0分</td>
						</tr>
						<tr>
							<td>C：主持或负责的课题或项目获区级奖项； 或其他专业水平比赛的奖项</td>
							<td>21.0分--24.0分</td>
						</tr>
						<tr>
							<td>D：参与的课题或项目获奖；或其他区级及以上奖项</td>
							<td>18.0分--21.0分</td>
						</tr>
						<tr>
							<td rowspan="2">减量质考</td>
							<td>A：获得校际间联合举行的教育教学活动奖项，或者区级多部门（非区级官方组织）联合开展的活动奖项</td>
							<td>12.0分--15.0分</td>
						</tr>
						<tr>
							<td>B：没有获奖；或者没有区级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 发表论文 -->
						<tr>
							<td rowspan="5">发表论文</td>
							<td rowspan="15">此三项指标分值累加，上限不超过最高得分</td>
							<td rowspan="5">至少1篇区级及以上的论文</td>
							<td rowspan="4">达量质考</td>
							<td>A：质量较高的学科论文</td>
							<td>21.6分--24.0分</td>
						</tr>
						<tr>
							<td>B：质量较好的学科论文</td>
							<td>19.2分--21.5分</td>
						</tr>
						<tr>
							<td>C：质量尚可的学科论文</td>
							<td>16.8分--19.2分</td>
						</tr>
						<tr>
							<td>D：质量一般的学科论文</td>
							<td>14.4分--16.8分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有发表论文；或者没有区级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 立项课题 -->
						<tr>
							<td rowspan="5">立项课题</td>
							<td rowspan="5">至少参与1项区级及以上的课题成果</td>
							<td rowspan="4">达量质考</td>
							<td>A：主持或负责的质量较高的学科类重点课题成果；或参与的重大课题成果</td>
							<td>21.6分--24.0分</td>
						</tr>
						<tr>
							<td>B：主持或负责的学科类课题成果；或参与市级学科类课题成果</td>
							<td>19.2分--21.5分</td>
						</tr>
						<tr>
							<td>C：参与市级课题成果</td>
							<td>16.8分--19.2分</td>
						</tr>
						<tr>
							<td>D：参与区级学科类课题成果</td>
							<td>14.4分--16.8分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有区级立项课题，或者没有区级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 项目研究 -->
						<tr>
							<td rowspan="5">项目研究</td>
							<td rowspan="5">至少参与1项区级及以上项目研究</td>
							<td rowspan="4">达量质考</td>
							<td>A：主持或负责的质量较高的区级及以上重点项目成果；或参与的重大项目成果</td>
							<td>21.6分--24.0分</td>	
						</tr>
						<tr>
							<td>B：主持或负责的质量较好的区级项目成果；或参与市级项目成果</td>
							<td>19.2分--21.5分</td>
						</tr>
						<tr>
							<td>C：主持或负责校级（校际）及以上项目成果</td>
							<td>16.8分--19.2分</td>
						</tr>
						<tr>
							<td>D：参与校级项目成果</td>
							<td>14.4分--16.8分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有校级项目；或者没有校级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
