f<!-- WIDGET TABBED CONTENT -->
<!-- 工作室主持人 -->
<div class="widget">
	<div class="widget-header">
		<h3>虹口区教育系统教师专业人才梯队 <strong class="red">工作室主持人-质评</strong> 指标</h3>
		<ul class="nav nav-tabs pull-right">
			<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 自身发展</a></li>
			<li><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 培训课程</a></li>
			<li><a href="#tab3" data-toggle="tab"><i class="fa fa-tag"></i> 带教教师</a></li>
			<li><a href="#tab4" data-toggle="tab"><i class="fa fa-tag"></i> 特色</a></li>
		</ul>
	</div>
	<div class="widget-content">
		<div class="tab-content no-padding">

			<!-- 自身发展 -->
			<div class="tab-pane fade in active" id="tab1">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th class="table-col-20p">任务要求</th>
							<th class="table-col-10p">考核分类</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<!-- 读书活动 -->
					<tbody>
						<tr>
							<td rowspan="7">读书活动</td>
							<td rowspan="7"></td>
							<td rowspan="7">
								1.书目类别：专业类、教育类、人文类、科学类、管理类。数量要求：至少2本/年<br />
								2.撰写读书心得：至少2篇/年（800字以上/篇）<br />
							</td>
							<td rowspan="4">达量质考</td>
							<td>A：高质量的读书心得，达到在高水准的刊物上发表的水平</td>
							<td>3.6分--4.0分</td>
						</tr>
						<tr>
							<td>B：完成读书要求，读书心得内容质量总体较高，值得向同行推荐、交流</td>
							<td>3.2分--3.6分</td>
						</tr>
						<tr>
							<td>C：完成读书要求，读书心得内容质量总体较好，能看出有价值的内容</td>
							<td>2.8分--3.2分</td>
						</tr>
						<tr>
							<td>D：读书心得内容质量一般，文字量较少（有的篇幅少于800字）</td>
							<td>2.4分--2.8分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：已完成的任务质量较高，值得推荐、发表</td>
							<td>2.4分--2.8分</td>
						</tr>
						<tr>
							<td>B：已完成的任务质量一般</td>
							<td>1.2分--1.6分</td>
						</tr>
						<tr>
							<td>C：没有提交读书心得；或者提交的材料没有价值</td>
							<td>0分</td>
						</tr>
						<!-- 开展示课 -->
						<tr>
							<td rowspan="6">开展示课</td>
							<td rowspan="18">此三项指标分值累加，上限不超过最高得分</td>
							<td rowspan="6">至少有1节区级及以上考核学科类的展示课</td>
							<td rowspan="4">达量质考</td>
							<td>A：高质量、高水准、具有示范性的展示课</td>
							<td>14.4分--16.0分</td>
						</tr>
						<tr>
							<td>B：质量较高，开设的展示课值得向同行推荐、借鉴</td>
							<td>12.8分--14.4分</td>
						</tr>
						<tr>
							<td>C：质量较好，开设的展示课中部分内容值得推荐</td>
							<td>11.2分--12.8分</td>
						</tr>
						<tr>
							<td>D：质量一般，完成了规定的任务</td>
							<td>9.6分--11.2分</td>
						</tr>
						<tr>
							<td rowspan="2">减量质考</td>
							<td>A：高质量的校际间展示课，有可佐证的材料</td>
							<td>6.4分--8.0分</td>
						</tr>
						<tr>
							<td>B：没有开课；或者没有区级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 担任评委工作 -->
						<tr>
							<td rowspan="6">担任评委工作</td>
							<td rowspan="6">担任至少1次区级及以上的评委工作</td>
							<td rowspan="4">达量质考</td>
							<td>A：专业水平要求很高的市级及以上教育教学评比活动</td>
							<td>14.4分--16.0分</td>
						</tr>
						<tr>
							<td>B： 综合性或专业水平要求高的评比活动</td>
							<td>12.8分--14.4分</td>
						</tr>
						<tr>
							<td>C：常规性、专业水准要求较高的评比活动</td>
							<td>11.2分--12.8分</td>
						</tr>
						<tr>
							<td>D：常规性、专业水准要求一般的评比活动</td>
							<td>9.6分--11.2分</td>
						</tr>
						<tr>
							<td rowspan="2">减量质考</td>
							<td>A：在校际间联合进行的教育教学活动中担任专业评委，有佐证材料</td>
							<td>6.4分--8.0分</td>
						</tr>
						<tr>
							<td>B：没有进行此项工作；或者没有区级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 评比获奖 -->
						<tr>
							<td rowspan="6">评比获奖</td>
							<td rowspan="6">至少1项市级及以上的奖项</td>
							<td rowspan="4">达量质考</td>
							<td>A：负责的重大课题或项目获奖；或其他高水准的大奖</td>
							<td>14.4分--16.0分</td>
						</tr>
						<tr>
							<td>B：主持或负责的课题或项目获奖；或其他专业水平高的奖项</td>
							<td>12.8分--14.4分</td>
						</tr>
						<tr>
							<td>C：作为主要参与者的课题或项目获奖；或其他专业水平较高的奖项</td>
							<td>11.2分--12.8分</td>
						</tr>
						<tr>
							<td>D：参与的课题或项目获奖；或其他较高的奖项</td>
							<td>9.6分--11.2分</td>
						</tr>
						<tr>
							<td rowspan="2">减量质考</td>
							<td>A：获得区际间联合举行的教育教学活动奖项，或者市级多部门（非市级官方组织）联合开展的活动奖项</td>
							<td>6.4分--8.0分</td>
						</tr>
						<tr>
							<td>B：没有获奖；或者没有市级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 发表论文 -->
						<tr>
							<td rowspan="5">发表论文</td>
							<td rowspan="15">此三项指标分值累加，上限不超过最高得分</td>
							<td rowspan="5">至少1篇市级及以上的论文</td>
							<td rowspan="4">达量质考</td>
							<td>A：高质量的学科论文，具有前沿、引领、指导性</td>
							<td>18.0分--20.0分</td>
						</tr>
						<tr>
							<td>B：质量较高的学科论文，有一定的前沿、引领、指导作用</td>
							<td>16.0分--18.0分</td>
						</tr>
						<tr>
							<td>C：质量较高的学科论文</td>
							<td>14.0分--16.0分</td>
						</tr>
						<tr>
							<td>D：质量较好的学科论文</td>
							<td>12.0分--14.0分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有发表论文；或者没有市级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 立项课题 -->
						<tr>
							<td rowspan="5">立项课题</td>
							<td rowspan="5">至少参与1项区级及以上的课题成果</td>
							<td rowspan="4">达量质考</td>
							<td>A：主持或负责的高质量的学科类重要课题成果</td>
							<td>18.0分--20.0分</td>
						</tr>
						<tr>
							<td>B：主持或负责的质量较高的学科类重点课题成果；或参与的重大课题成果</td>
							<td>16.0分--18.0分</td>
						</tr>
						<tr>
							<td>C：主持或负责的学科类课题成果；或参与市级课题成果</td>
							<td>14.0分--16.0分</td>
						</tr>
						<tr>
							<td>D：参与的学科类课题成果</td>
							<td>12.0分--14.0分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有区级立项课题，或者没有区级及以上相应的佐证材料	</td>
							<td>0分</td>
						</tr>
						<!-- 项目研究 -->
						<tr>
							<td rowspan="5">项目研究</td>
							<td rowspan="5">至少参与1项区级及以上项目研究</td>
							<td rowspan="4">达量质考</td>
							<td>A：主持或负责的高质量的重要项目成果</td>
							<td>18.0分--20.0分</td>
						</tr>
						<tr>
							<td>B：主持或负责的质量较高的重点项目成果；或参与的重大项目成果</td>
							<td>16.0分--18.0分</td>
						</tr>
						<tr>
							<td>C：主持或负责的质量较好的项目成果；或参与市级项目成果</td>
							<td>14.0分--16.0分</td>
						</tr>
						<tr>
							<td>D：参与的项目成果</td>
							<td>12.0分--14.0分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有区级项目；或者没有区级及以上相应的佐证材料	</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- 培训课程 -->
			<div class="tab-pane fade" id="tab2">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th class="table-col-20p">任务要求</th>
							<th class="table-col-10p">考核分类</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<tbody>
						<!-- 开设教师培训课程 -->
						<tr>
							<td rowspan="5">开设教师培训课程</td>
							<td rowspan="15">此三项指标分值累加，上限不超过最高得分</td>
							<td rowspan="5">
								1.必须开设1门微课程 <br />
								2.可以开设区级“研训一体”课程，或市级课程
							</td>
							<td rowspan="4">达量质考</td>
							<td>A：高质量的学科类培训课程</td>
							<td>27.0分--30.0分</td>
						</tr>
						<tr>
							<td>B：质量较高的学科类培训课程</td>
							<td>24.0分--27.0分</td>
						</tr>
						<tr>
							<td>C：质量好的学科类培训课程</td>
							<td>21.0分--24.0分</td>
						</tr>
						<tr>
							<td>D：质量较好的学科类培训课程</td>
							<td>18.0分 -- 21.0分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有开设微课程；或者没有区级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 讲座、报告（须是学科类） -->
						<tr>
							<td rowspan="5">讲座、报告（须是学科类）</td>
							<td rowspan="5">至少开展1次区级及以上的讲座、报告</td>
							<td rowspan="4">达量质考</td>
							<td>A：高质量的学科类讲座</td>
							<td>27.0分--30.0分</td>
						</tr>
						<tr>
							<td>B：质量较高的学科类讲座</td>
							<td>24.0分--27.0分</td>
						</tr>
						<tr>
							<td>C：质量好的学科类讲座、报告</td>
							<td>21.0分--24.0分</td>
						</tr>
						<tr>
							<td>D：质量较好的学科类、报告</td>
							<td>18.0分 -- 21.0分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有开讲座、报告；或者没有区级及以上相应的佐证材料</td>
							<td>0分</td>
						</tr>
						<!-- 课程资源开发 -->
						<tr>
							<td rowspan="5">课程资源开发</td>
							<td rowspan="5">
								参与市级学科教材编审、修订；或区本学科教材编审、修订；或担任区级及以上教育教学类资源的开发
							</td>
							<td rowspan="4">达量质考</td>
							<td>A：担任市级学科教材主编；或在市级学科教材修订中担任主要工作；或在市级学科类教育教学类资源的开发中担任主要工作</td>
							<td>27.0分--30分</td>
						</tr>
						<tr>
							<td>B：参与市级学科教材编审、修订；或参与高要求的学科类教育教学重要资源的开发</td>
							<td>24.0分--27.0分</td>
						</tr>
						<tr>
							<td>C：主持区本学科教材编审、修订；或在区本学科教材编审、修订中承担主要工作；或参与学科类教育教学重要资源的开发</td>
							<td>21.0分--24.0分</td>
						</tr>
						<tr>
							<td>D：参与区本学科教材编审、修订；或参与教育教学资源的开发</td>
							<td>18.0分 -- 21.0分</td>
						</tr>
						<tr>
							<td rowspan="1">减量质考</td>
							<td>A：没有材料；或者没有市级佐证材料</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>
			</div> 

			<!-- 带教教师 -->
			<div class="tab-pane fade" id="tab3">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th class="table-col-20p">任务要求</th>
							<th class="table-col-10p">考核分类</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<tbody>
						<!-- 学员数量 -->
						<tr>
							<td rowspan="4">学员数量</td>
							<td rowspan="4"></td>
							<td rowspan="4"></td>
							<td rowspan="2">达量质考</td>
							<td>A：6≤学员人数</td>
							<td>0.9分--1分</td>
						</tr>
						<tr>
							<td>B：3≤学员人数≤5</td>
							<td>0.8分--0.9分</td>
						</tr>
						<tr>
							<td rowspan="2">减量质考</td>
							<td>A：1≤学员人数≤2</td>
							<td>0.3分--0.4分</td>
						</tr>
						<tr>
							<td>B：无学员</td>
							<td>0分</td>
						</tr>
						<!-- 带教计划（方案）、小结 -->
						<tr>
							<td rowspan="5">带教计划（方案）、小结</td>
							<td rowspan="5"></td>
							<td rowspan="5">有年度带教实施计划（方案）；有年度小结</td>
							<td rowspan="3">达量质考</td>
							<td>A：计划、小结针对性强，实施效果好</td>
							<td>1.8分--2.0分</td>
						</tr>
						<tr>
							<td>B：计划、小结有针对性，总体上实施较好</td>
							<td>1.6分--1.8分</td>
						</tr>
						<tr>
							<td>C：计划中部分内容进行了实施、小结，无突出的效果</td>
							<td>1.4分--1.6分</td>
						</tr>
						<tr>
							<td rowspan="2">减量质考</td>
							<td>A：有计划、无小结；或者无计划、有小结</td>
							<td>0.6分--0.8分</td>
						</tr>
						<tr>
							<td>C：没有相关的材料</td>
							<td>0分</td>
						</tr>
						<!-- 学员的成长分析 -->
						<tr>
							<td rowspan="5">学员的成长分析</td>
							<td rowspan="5"></td>
							<td rowspan="5">有每1位带教学员的年度成长分析</td>
							<td rowspan="3">达量质考</td>
							<td>A：针对性强，对学员的成长有较强的指导作用</td>
							<td>3.6分--4.0分</td>
						</tr>
						<tr>
							<td>B：有针对性，对学员的成长有一定的指导作用</td>
							<td>3.2分--3.6分</td>
						</tr>
						<tr>
							<td>C：对部分学员的成长有一些指导作用</td>
							<td>2.8分--3.2分</td>
						</tr>
						<tr>
							<td rowspan="2">减量质考</td>
							<td>A：有多数学员的成长分析，未达到每位学员都有</td>
							<td>1.2分--1.6分</td>
						</tr>
						<tr>
							<td>B：没有相关的材料；或者未达到学员数量的一半</td>
							<td>0分</</td>
						</tr>
						<!-- 带教指导 -->
						<tr>
							<td rowspan="8">带教指导</td>
							<td rowspan="8"></td>
							<td rowspan="8">
								1.至少有8份日常共性类指导；<br />
								2.每位学员必须有4份听课指导；<br />
								3.每位学员必须有教案类修改指导数量+论文 或者课题修改指导(共2份指导，2种指导各选其一或者其中一项指导数量为2份)；<br />
							</td>
							<td rowspan="4">达量质考</td>
							<td>A：指导有很高的价值，个别指导对专业提升的作用很强</td>
							<td>10.8分--12.0分</td>
						</tr>
						<tr>
							<td>B：指导有较高的价值，对部分学员的专业提升的作用很强</td>
							<td>9.6分--10.8分</td>
						</tr>
						<tr>
							<td>C：开展的指导工作对学员的专业提升作用较好</td>
							<td>8.4分--9.6分</td>
						</tr>
						<tr>
							<td>D：开展的指导工作对学员的专业提升作用一般</td>
							<td>7.2分--8.4分</td>
						</tr>
						<tr>
							<td rowspan="4">减量质考</td>
							<td>A：材料未达到要求的数量（超过85%），但质量非常好</td>
							<td>4.8分--6.0分</td>
						</tr>
						<tr>
							<td>B：材料未达到要求的数量（有过半以上），但质量非常好</td>
							<td>2.4分--3.6分</td>
						</tr>
						<tr>
							<td>C：材料数量较少（未过半），质量尚可</td>
							<td>1.2分--1.8分</td>
						</tr>
						<tr>
							<td>D：没有相关的材料</td>
							<td>0分</td>
						</tr>
						<!-- 开展示课 -->
						<tr>
							<td rowspan="7">开展示课</td>
							<td rowspan="21">此三项指标分值累加，上限不超过2项最高得分之和</td>
							<td rowspan="7">每位学员至少开设1节展示课</td>
							<td rowspan="4">达量质考</td>
							<td>A：展示课总体质量较高</td>
							<td>4.9分--5.5分</td>
						</tr>
						<tr>
							<td>B：展示课中有部分质量较高</td>
							<td>4.4分--4.9分</td>
						</tr>
						<tr>
							<td>C：展示课总体质量较好</td>
							<td>3.8分--4.4分</td>
						</tr>
						<tr>
							<td>D：展示课中部分质量较好</td>
							<td>3.3分--3.8分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：有70%以上的学员开设了展示课</td>
							<td>1.6分--2.2分</td>
						</tr>
						<tr>
							<td>B：不到一半人数的学员开设了展示课</td>
							<td>0.5分--1.1分</td>
						</tr>
						<tr>
							<td>C：无校级及以上的展示课</td>
							<td>0分</td>
						</tr>
						<!-- 发表论文或参与课题研究 -->
						<tr>
							<td rowspan="7">发表论文或参与课题研究</td>
							<td rowspan="7">每位学员至少发表1篇论文</td>
							<td rowspan="4">达量质考</td>
							<td>A：论文或课题成果总体质量较高</td>
							<td>4.9分--5.5分</td>
						</tr>
						<tr>
							<td>B：论文或课题成果中有部分质量较高</td>
							<td>4.4分--4.9分</td>
						</tr>
						<tr>
							<td>C：论文或课题成果总体质量较好</td>
							<td>3.8分--4.4分</td>
						</tr>
						<tr>
							<td>D：论文或课题成果部分质量较好</td>
							<td>3.3分--3.8分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：有70%以上的学员有论文、课题成果</td>
							<td>1.6分--2.2分</td>
						</tr>
						<tr>
							<td>B：不到一半人数的学员有论文、课题成果</td>
							<td>0.5分--1.1分</td>
						</tr>
						<tr>
							<td>C：无论文或课题成果</td>
							<td>0分</td>
						</tr>
						<!-- 教育教学评比 -->
						<tr>
							<td rowspan="7">教育教学评比</td>
							<td rowspan="7">每位学员至少拥有1项评比奖项</td>
							<td rowspan="4">达量质考</td>
							<td>A：奖项中多数为市区级、总体质量较高</td>
							<td>4.9分--5.5分</td>
						</tr>
						<tr>
							<td>B：奖项中大多为区级及以上，且质量较高</td>
							<td>4.4分--4.9分</td>
						</tr>
						<tr>
							<td>C：奖项有一半为区级，有少量市级</td>
							<td>3.8分--4.4分</td>
						</tr>
						<tr>
							<td>D：奖项中多数为校级，市级极少</td>
							<td>3.3分--3.8分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：有70%以上的学员获得奖项</td>
							<td>1.6分--2.2分</td>
						</tr>
						<tr>
							<td>B：不到一半人数的学员获得奖项</td>
							<td>0.5分--1.1分</td>
						</tr>
						<tr>
							<td>C：无获奖</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- 特色 -->
			<div class="tab-pane fade" id="tab4">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th class="table-col-20p">任务要求</th>
							<th class="table-col-10p">考核分类</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<!-- 出版专著(合著) -->
							<td rowspan="2">出版专著(合著)</tdrowspan="2">
							<td rowspan="9">此五项指标取其一，且仅取最高得分项</td>
							<td rowspan="9">有符合要求的材料就可</td>
							<td rowspan="7">达量质考</td>
							
							<td>A：学科类专著</td>
							<td>4.8分--5分</td>
						</tr>
						<tr>
							<td>B：学科类合著</td>
							<td>4分--4.5分</td>
						</tr>
						<!-- 参与市级教材编写 -->
						<tr>
							<td rowspan="2">参与市级教材编写</td>
							<td>A：担任市级教材编写的主编或副主编</td>
							<td>4.8分--5分</td>
						</tr>
						<tr>
							<td>B：参与市级教材的编写、修改、审核</td>
							<td>4分--4.7分</td>
						</tr>
						<!-- 任市重点项目的主要负责人 -->
						<tr>
							<td>任市重点项目的主要负责人</td>
							<td>A：负责市级重点项目研究</td>
							<td>4.8分--5分</td>
						</tr>
						<!-- 市级基地主持（副主持）人 -->
						<tr>
							<td rowspan="2">市级基地主持（副主持）人</td>
							<td>A：担任市级名教师培训基地主持（副主持）人</td>
							<td>4.8分--5分</td>
						</tr>
						<tr>
							<td>B：担任其他市级培训基地主持人</td>
							<td>4.5分--5分</td>
						</tr>
						<!-- 其他 -->
						<tr>
							<td rowspan="2">其他</td>
							<td rowspan="2">减量质考</td>
							<td>A：在教学、科研、培训、带教学员方面有特别突出的成绩（需用文字进行说明）</td>
							<td>1.0分--1.5分</td>
						</tr>
						<tr>
							<td>B：无符合可加分的材料</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
