@model TeamEvalPeiodModel
@{
	var result = Model.Result;
	var items = Model.ResultItems.Select(x=>x.Value).ToList();

	var TuandKaoh_Def = EngineManager.GetTeamEvalResultValue(items, EvalQualityRuleKeys.TuandKaoh, "1A");
}
<!-- widget -->
<div class="widget col-md-10">
	<div class="widget-header">
		<h3>考评结果</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">
		<div class="tab-content no-padding">
			@*<p>
				<h3>
					评分人: @result.AccesserName
				</h3>
			</p>
			<p>
				<h3>
					评分时间: @result.AccessDate.ToString("yyyy-MM-dd")
				</h3>
			</p>*@
			<hr />
				
			<h4>
				团队考核得分：<strong class="red">@(result?.Score)/@(result?.FullScore)</strong>
			</h4>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="table-col-10p">评价指标</th>
						<th class="table-col-20p">指标说明</th>
						@*<th class="table-col-10p">分值/统计标准</th>*@
						<th class="table-col-10p">输入分值</th>
					</tr>
				</thead>
				<tbody>
					<!-- 指导思想 -->
					<tr>
						<td>团队考核</td>
						@*<td>
							聚焦教育、教学、科研方面，从优势、劣势、机会、威胁等方面分析透彻<br />
						</td>*@
						<td>0分--100.0分</td>
						<td><strong>@(result?.Score) 分</strong></td>
					</tr>

				</tbody>
			</table>

			
		</div>
	</div>
</div>
<!-- /widget -->
