<!-- WIDGET TABBED CONTENT -->
<!-- 学科带头人 -->
<div class="widget">
	<div class="widget-header">
		<h3>虹口区教育系统教师专业人才梯队 <strong class="red">学科带头人-量评</strong> 指标</h3>
		<ul class="nav nav-tabs pull-right">
			<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 自身发展</a></li>
			<li><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 培训课程</a></li>
			<li><a href="#tab3" data-toggle="tab"><i class="fa fa-tag"></i> 带教教师</a></li>
		</ul>
	</div>
	<div class="widget-content">
		<div class="tab-content no-padding">

			<!-- 自身发展 -->
			<div class="tab-pane fade in active" id="tab1">

				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<tbody>
						<!-- 读书活动 -->
						<tr>
							<td rowspan="3">读书活动</td>
							<td rowspan="3"></td>
							<td>A：≥2篇</td>
							<td>5分</td>
						</tr>
						<tr>
							<td>B：1篇</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C：无</td>
							<td>0分</td>
						</tr>
						<!-- 开展示课 -->
						<tr>
							<td rowspan="3">开展示课</td>
							<td rowspan="10">此三项指标分值累加，上限不超过最高得分</td>
							<td>A：≥1节区级或市级或国家级</td>
							<td>10分</td>
						</tr>
						<tr>
							<td>B：≥1节校级</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C：无</td>
							<td>0分</td>
						</tr>
						<!-- 担任评委工作 -->
						<tr>
							<td rowspan="3">担任评委工作</td>
							<td>A：≥1次区级或市级或国家级</td>
							<td>10分</td>
						</tr>
						<tr>
							<td>B：≥1次校级</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C：无</td>
							<td>0分</td>
						</tr>
						<!-- 评比获奖 -->
						<tr>
							<td rowspan="4">评比获奖</td>
							<td>A：≥1项市级或国家级</td>
							<td>10分</td>
						</tr>
						<tr>
							<td>B：≥1项区级上</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C：≥1项校级</td>
							<td>0分</td>
						</tr>
						<tr>
							<td>D：无</td>
							<td>0分</td>
						</tr>

						<!-- 发表论文 -->
						<tr>
							<td rowspan="3">发表论文</td>
							<td rowspan="9">此三项指标分值累加，上限不超过最高得分</td>
							<td>A：≥1篇区级或市级或国家级</td>
							<td>10分</td>
						</tr>
						<tr>
							<td>B：≥1篇校级（交流或发表）及以上</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C：无</td>
							<td>0分</td>
						</tr>
						<!-- 立项课题 -->
						<tr>
							<td rowspan="3">立项课题</td>
							<td>A：≥1项区级或市级或国家级</td>
							<td>10分</td>
						</tr>
						<tr>
							<td>B：≥1项校级</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C：无</td>
							<td>0分</td>
						</tr>
						<!-- 项目研究 -->
						<tr>
							<td rowspan="3">项目研究</td>
							<td>A：≥1项区级或市级或国家级</td>
							<td>10分</td>
						</tr>
						<tr>
							<td>B：≥1项校级</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C：无</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>

			</div>

			<!-- 培训课程 -->
			<div class="tab-pane fade" id="tab2">

				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<tbody>
						<!-- 开设教师培训课程 -->
						<tr>
							<td rowspan="2">开设教师培训课程</td>
							<td rowspan="10">此三项指标分值累加，上限不超过最高得分</td>
							<td>A： ≥1门微课程或区级研训一体课程或市级课程</td>
							<td>25分</td>
						</tr>
						<tr>
							<td>B： 无 </td>
							<td>0分</td>
						</tr>
						<!-- 讲座、报告（须是学科类） -->
						<tr>
							<td rowspan="3">讲座、报告</td>
							<td>A： ≥1次区级或市级或国家级</td>
							<td>25分</td>
						</tr>
						<tr>
							<td>B： ≥1次校级</td>
							<td>12.5分</td>
						</tr>
						<tr>
							<td>C： 无</td>
							<td>0分</td>
						</tr>
						<!-- 课程资源开发 -->
						<tr>
							<td rowspan="5">课程资源开发</td>
							<td>A：担任市级学科教材的主编或副主编</td>
							<td>25分</td>
						</tr>
						<tr>
							<td>B： 参与市级学科教材编审、修订</td>
							<td>25分</td>
						</tr>
						<tr>
							<td>C： 参与区本学科教材编审、修订，或担任区级或市级教育教学类资源的开发</td>
							<td>25分</td>
						</tr>
						<tr>
							<td>D： 参与校本学科教材编审、修订，或担任校级教育教学类资源的开发</td>
							<td>12.5分</td>
						</tr>
						<tr>
							<td>E： 无</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>

			</div>

			<!-- 带教教师 -->
			<div class="tab-pane fade" id="tab3">

				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<tbody>
						<!-- 学员数量 -->
						<tr>
							<td rowspan="3">学员数量</td>
							<td rowspan="3">若无学员，则“带教教师”为0分”</td>
							<td>A： ≥2人</td>
							<td>5分</td>
						</tr>
						<tr>
							<td>B： ﹤2人</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C： 无</td>
							<td>0分</td>
						</tr>
						<!-- 带教协议 -->
						<tr>
							<td rowspan="2">带教协议</td>
							<td rowspan="2"></td>
							<td>A： 有</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>B： 无</td>
							<td>0分</td>
						</tr>
						<!-- 带教计划（方案） -->
						<tr>
							<td rowspan="2">带教计划（方案）</td>
							<td rowspan="2"></td>
							<td>A： 有</td>
							<td>7.5分</td>
						</tr>
						<tr>
							<td>B： 无</td>
							<td>0分</td>
						</tr>
						<!-- 带教小结 -->
						<tr>
							<td rowspan="2">带教小结</td>
							<td rowspan="2"></td>
							<td>A： 有</td>
							<td>5分</td>
						</tr>
						<tr>
							<td>B： 无</td>
							<td>0分</td>
						</tr>
						<!-- 学员的成长分析 -->
						<tr>
							<td rowspan="3">学员的成长分析</td>
							<td rowspan="3"></td>
							<td>A： 与学员的数量相等</td>
							<td>5分</td>
						</tr>
						<tr>
							<td>B： 少于学员的数量</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C： 无</td>
							<td>0分</td>
						</tr>
						<!-- 日常共性类指导记录 -->
						<tr>
							<td rowspan="4">日常共性类指导记录</td>
							<td rowspan="16">此四项指标分值累加，上限不超过最高二项总计分</td>
							<td>A： ≥8份</td>
							<td>5分</td>
						</tr>
						<tr>
							<td>B： 5—7份</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C： 1—4份</td>
							<td>1.3分</td>
						</tr>
						<tr>
							<td>D： 无</td>
							<td>0分</td>
						</tr>
						<!-- 听课指导 -->
						<tr>
							<td rowspan="4">听课指导</td>
							<td>A： ≥4份/人*学员数量</td>
							<td>5分</td>
						</tr>
						<tr>
							<td>B： 不少于学员数量，但少于4份/人*学员数量</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C： 少于学员数量</td>
							<td>1.3分</td>
						</tr>
						<tr>
							<td>D： 无</td>
							<td>0分</td>
						</tr>
						<!-- 教案类修改指导（可选） -->
						<tr>
							<td rowspan="4">教案类修改指导</td>
							<td>A： ≥2份/人*学员数量</td>
							<td>5分</td>
						</tr>
						<tr>
							<td>B： 不少于学员数量，但少于2份/人*学员数量</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C： 少于学员数量</td>
							<td>1.3分</td>
						</tr>
						<tr>
							<td>D： 无</td>
							<td>0分</td>
						</tr>
						<!-- 论文或课题修改指导（可选） -->
						<tr>
							<td rowspan="4">论文或课题修改指导</td>
							<td>A： ≥2份/人*学员数量</td>
							<td>5分</td>
						</tr>
						<tr>
							<td>B： 不少于学员数量，但少于2份/人*学员数量</td>
							<td>2.5分</td>
						</tr>
						<tr>
							<td>C： 少于学员数量</td>
							<td>1.3分</td>
						</tr>
						<tr>
							<td>D： 无</td>
							<td>0分</td>
						</tr>
						<!-- 开设展示课 -->
						<tr>
							<td rowspan="4">开设展示课</td>
							<td rowspan="12">此三项指标分值累加，上限不超过最高二项总计分</td>
							<td>A： 学员全部完成相应任务</td>
							<td>7.5分</td>
						</tr>
						<tr>
							<td>B： 至少60%学员完成相应任务</td>
							<td>3.8分</td>
						</tr>
						<tr>
							<td>C： 至少30%学员完成相应任务</td>
							<td>2.3分</td>
						</tr>
						<tr>
							<td>D： 至少70%学员未完成相应任务</td>
							<td>0分</td>
						</tr>
						<!-- 发表论文或参与课题研究 -->
						<tr>
							<td rowspan="4">发表论文或参与课题研究</td>
							<td>A： 学员全部完成相应任务</td>
							<td>7.5分</td>
						</tr>
						<tr>
							<td>B： 至少60%学员完成相应任务</td>
							<td>3.8分</td>
						</tr>
						<tr>
							<td>C： 至少30%学员完成相应任务</td>
							<td>2.3分</td>
						</tr>
						<tr>
							<td>D： 至少70%学员未完成相应任务</td>
							<td>0分</td>
						</tr>
						<!-- 教育教学评比 -->
						<tr>
							<td rowspan="4">教育教学评比</td>
							<td>A： 学员全部完成相应任务</td>
							<td>7.5分</td>
						</tr>
						<tr>
							<td>B： 至少60%学员完成相应任务</td>
							<td>3.8分</td>
						</tr>
						<tr>
							<td>C： 至少30%学员完成相应任务</td>
							<td>2.3分</td>
						</tr>
						<tr>
							<td>D： 至少70%学员未完成相应任务</td>
							<td>0分</td>
						</tr>
						<!-- 研修活动规则 -->
						<tr>
							<td rowspan="2">研修活动规则</td>
							<td rowspan="2"></td>
							<td>A：有</td>
							<td>达标</td>
						</tr>
						<tr>
							<td>B：无</td>
							<td>无</td>
						</tr>
						<!-- 经费管理办法 -->
						<tr>
							<td rowspan="2">经费管理办法</td>
							<td rowspan="2"></td>
							<td>A：有</td>
							<td>达标</td>
						</tr>
						<tr>
							<td>B：无</td>
							<td>无</td>
						</tr>
						<!-- 学员个人发展规划 -->
						<tr>
							<td rowspan="3">学员个人发展规划</td>
							<td rowspan="3"></td>
							<td>A：与学员的数量相等</td>
							<td>达标</td>
						</tr>
						<tr>
							<td>B：少于学员的数量</td>
							<td>未达标</td>
						</tr>
						<tr>
							<td>C：无</td>
							<td>无</td>
						</tr>
						<!-- 活动安排表 -->
						<tr>
							<td rowspan="2">活动安排表</td>
							<td rowspan="2"></td>
							<td>A：有</td>
							<td>达标</td>
						</tr>
						<tr>
							<td>B：无</td>
							<td>无</td>
						</tr>
						<!-- 学员读书书目 -->
						<tr>
							<td rowspan="2">学员读书书目</td>
							<td rowspan="2"></td>
							<td>A：有</td>
							<td>达标</td>
						</tr>
						<tr>
							<td>B：无</td>
							<td>无</td>
						</tr>
						<!-- 研修活动考勤 -->
						<tr>
							<td rowspan="3">研修活动考勤</td>
							<td rowspan="3"></td>
							<td>A：与活动次数相等</td>
							<td>达标</td>
						</tr>
						<tr>
							<td>B：少于活动次数</td>
							<td>未达标</td>
						</tr>
						<tr>
							<td>C：无</td>
							<td>无</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>
<!-- END WIDGET TABBED CONTENT -->
