#change_wrap_div{ background-repeat: repeat} body{ background-repeat: repeat-y} #footer, #sub-footer{ background-repeat: repeat-y} .page-title-inner .page-title {color: #ffffff}.page-title-inner .subtitle {color: #ffffff}.instagram-stat > div {
float: left;
display: block;
width: 130px;
border-right: 1px solid #666f74;
text-align: center;
margin-top: 5px;
}







