@{
	ViewBag.Title = "平台简介";
}
<div id="stuning-header">
	<div class="row">
		<div class="twelve columns">
			<div id="page-title">
				<div class="page-title-inner">
					<h1 class="page-title"> 平台简介 </h1>
					<div class="subtitle">
						平台信息直通车
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="layout" class="no-title">
	<div class="mvb_content">

		<section class="row-wrapper">
			<div class="row mvb_t_row">
				<div class="six columns mobile-six  mvb_first">
					<div class="mvb_inner_wrapper">
						<div class="image_module module to-bottom-attached  cr-animate-gen" data-gen="fadeInLeft" data-gen-offset="bottom-in-view">
							<img src="~/assets/img/2016-4-26-1327.png" />
						</div>
					</div>
				</div>
				<div class="six columns mobile-six  mvb_last">
					<div class="mvb_inner_wrapper" style="">
						<div class="features_module_vertical module ">
							<div class="row">
								@*<div class="feature-box   cr-animate-gen" data-gen="fadeInRight" data-gen-offset="bottom-in-view">
									<i class="single-icon linecon-like" style="font-size:60px;  color:#ff6565; " onmouseover="this.style.color='#36bae2'" onmouseout="this.style.color='#ff6565'"></i>
									<div class="feat-block-content">
										<h3>走进我们</h3>
										<h6></h6>
										<p>虹口区是上海市中心城区之一。全区总面积23.4平方公里，下辖8个街道。根据第六次人口普查的数据，常住人口83.96万人，户籍人口65.53万人，人口密度3.6万人/平方公里，是上海人口密度最高的区。</p>
									</div>
								</div>
								<div class="feature-box   cr-animate-gen" data-gen="fadeInRight" data-gen-offset="bottom-in-view">
									<i class="single-icon linecon-settings" style="font-size:60px;  color:#ff6565; " onmouseover="this.style.color='#36bae2'" onmouseout="this.style.color='#ff6565'"></i>
									<div class="feat-block-content">
										<h3>教研园地</h3>
										<h6></h6>
										<p> 教学团队是全国最权威、最专业、最具责任感的教育师资队伍，百名拥有众多光环的年轻人组成，他们一直默默无闻，他们常说“心有多大，舞台就有多大”，心是祖国的希望，舞台，是他们的心。</p>
									</div>
								</div>
								<div class="feature-box   cr-animate-gen" data-gen="fadeInRight" data-gen-offset="bottom-in-view">
									<i class="single-icon linecon-mail" style="font-size:60px;  color:#ff6565; " onmouseover="this.style.color='#36bae2'" onmouseout="this.style.color='#ff6565'"></i>
									<div class="feat-block-content">
										<h3>干师培训</h3>
										<h6></h6>
										<p> 研究开发针对新职业（工种）的培训项目，以及根据企业生产、经营需要，掌握并运用现代培训理念和手段，策划、开发培训项目，制定、实施培训计划，并从事培训咨询和教学活动的人员。</p>
									</div>
								</div>*@

								<div class="feature-box   cr-animate-gen" data-gen="fadeInRight" data-gen-offset="bottom-in-view">
									<i class="single-icon linecon-like" style="font-size:60px;  color:#ff6565; " onmouseover="this.style.color='#36bae2'" onmouseout="this.style.color='#ff6565'"></i>
									<div class="feat-block-content">
										<h3>平台简介</h3>
										<h6></h6>
										<p style="line-height:2;font-size:120%">为突出以“教师为本”的服务理念，方便梯队教师记录个人的成长轨迹、实现梯队成员之间的在线协作交流，教育局开发设计了集资源、课程、协作教研三位一体的“虹口区教师专业人才梯队建设管理平台”。梯队教师通过管理平台，记录专业成长过程。同时，管理平台将汇聚区域教师优质教育教学成果，形成纵横交织的信息交流网络，提供跨学科、跨学段、多角度的协作研修桥梁。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="row-wrapper">
			<div class="row mvb_t_row">
			</div>
		</section>

	</div>
</section> 