@{
	ViewBag.Title = "联系我们";
}
<div id="stuning-header">
	<div class="row">
		<div class="twelve columns">
			<div id="page-title">
				<div class="page-title-inner">
					<h1 class="page-title"> 联系我们 </h1>
					<div class="subtitle">
						与我们取得联系
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<section id="layout">
	<div class="row map-holder">
		<div class="box-text" style="background-color:#36bae2;">

			<p>
				地 址: 上海市虹口区天宝路1058号 <br /><br />
				@*电 话: (021) 65758796 <br />
				邮 箱: hongkouxinxi@126.com <br />*@
				网 址: http://www.hkedu.sh.cn/ <br />
				支持热线: (021) 25653284-2010
			</p>

			<div id="qr_code"></div>


		</div>
	</div>
</section>

