@{ 
	ViewBag.Title = "疑难答问";
}
<div id="stuning-header" style="background-color: #7a7a7a; background-image: url(../../assets/img/kamni.jpg);  background-position: center;">
	<div class="row">
		<div class="twelve columns">
			<div id="page-title">
				<div class="page-title-inner">
					<div class="page-title">
						疑难答问
					</div>
					<div class="subtitle">
						常见问题解答
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="layout">
	<div class="row">
		<div class="blog-section sidebar-right">
			<section id="main-content" role="main" class="nine columns">
				<div class="vc_row  row">
					<div class="vc_col-sm-12 wpb_column vc_column_container">
						<div class="wpb_wrapper">
							<div class="wpb_tour wpb_content_element wpb_content_pd" data-interval="0">
								<div class="wpb_wrapper wpb_tour_tabs_wrapper ui-tabs vc_clearfix wpb_bg_color">
									<ul class="wpb_tabs_nav ui-tabs-nav vc_clearfix">
										<li><a href="#shcool_tab">教育入学</a></li>
										<li><a href="#student_tab">招生入学</a></li>
										<li><a href="#charge_tab">教育收费</a></li>
										<li><a href="#transfer_tab">转学帮助</a></li>
										<li><a href="#guidelines_tab">公开指南</a></li>
										<li><a href="#education_tab">教育督导</a></li>
										<li><a href="#teachers_tab">教师认定资格</a></li>
										<li><a href="#policy_tab">政策解读</a></li>
									</ul>
									<div id="shcool_tab" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper wpb_wrapper_pd">
												<p>
													 虹口公布义务教育入学新政，规定区内每户地址五年内只享有一次同校对口入学机会。
													 昨日，记者在虹口区走访发现，相关学区房价尚未出现明显波动，但一些家长已经跃跃欲试，而“提供五年内没入学过的房源”成了一些房产中介招揽生意的噱头。
													同时，记者从虹口教育部门获悉，尽管该政策从今年开始执行，对以后产生作用，并不追究之前的情况，但仍希望家长放弃择校念头，不要“一窝蜂”地去选择学区房。
												</p>
												<p>
													虹口公布义务教育入学新政，规定区内每户地址五年内只享有一次同校对口入学机会。
													昨日，记者在虹口区走访发现，相关学区房价尚未出现明显波动，但一些家长已经跃跃欲试，而“提供五年内没入学过的房源”成了一些房产中介招揽生意的噱头。
												</p>
											</div>
										</div>
									</div>
									<div id="student_tab" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper wpb_wrapper_pd">
												<p>
													 1、4月25日—4月27日，报名就读民办小学的学生家长可在“上海市义务教育入学报名系统”（www.shrxbm.cn）填报志愿，
													每个适龄儿童限报2所民办小学，报名后获取网上报名表，作为参加面谈的依据。2、5月9日为民办小学面谈时间。面谈时学生须凭网上报名表，
													携带户口簿、父母一方有效的《上海市居住证》或《上海市临时居住证》和《就业失业登记证》、《本市户籍人户分离人员居住登记申请回执》等证件。
													学校要对家长提供的相关材料和证件进行核对。 
												</p>
											</div>
										</div>
									</div>
									<div id="charge_tab" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper wpb_wrapper_pd">
												<p> 
												课时价格说明：每小时在：50–400元RMB之间/一小时。一对一的价格说明：每小时在：200–400元的RMB之间/一小时
												（注：以上价格只能作为家长门的参考数字，至少可以在咨询之前心里有一个底。
												具体的价格官方并未有所透露，因为培训机构都是根据学员的具体情况来指定学习计划和费用。因此具体价格到多少，谁也不能得知）
												心里有了一个价格底儿了，关注下精锐教育的成功案例？
												</p>
											</div>
										</div>
									</div>
									<div id="transfer_tab" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper wpb_wrapper_pd">
												<p> 虹口公布义务教育入学新政，规定区内每户地址五年内只享有一次同校对口入学机会。
													 昨日，记者在虹口区走访发现，相关学区房价尚未出现明显波动，但一些家长已经跃跃欲试，而“提供五年内没入学过的房源”成了一些房产中介招揽生意的噱头。
													同时，记者从虹口教育部门获悉，尽管该政策从今年开始执行，对以后产生作用，并不追究之前的情况，但仍希望家长放弃择校念头，不要“一窝蜂”地去选择学区房。 </p>
											</div>
										</div>
									</div>
									<div id="guidelines_tab" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper wpb_wrapper_pd">
												<p>
													《上海市政府信息公开规定》（以下简称《规定》）经2008年4月28日上海市人民政府令第2号公布，根据2010年12月20日上海市人民政府令第52号公布的《上海市人民政府关于修改<上海市农机事故处理暂行规定>
														等148件市政府规章的决定》修正并重新发布。根据《规定》，本机关掌握的政府信息，除依法免予公开的外，凡与经济、社会管理和公共服务相关的政府信息，均应予以公开或者依公民、法人和其他组织的申请予以提供。

														为了更好地提供政府信息公开服务，本机关编制了《虹口区教育局政府信息公开指南》（以下简称《指南》），需要获得本机关政府信息公开服务的公民、法人和其他组织，建议阅读《指南》。

														《指南》每年更新一次，公民、法人和其他组织可以在本机关的网站上查阅《指南》，也可以到《指南》查阅点查阅。

														一、主动公开

														● 公开范围

														本机关主动向社会免费公开的信息范围参见本机关编制的《虹口区教育局政府信息目录》（以下简称《目录》）。公民、法人和其他组织可以在本机关的网站上查阅《目录》。

														● 公开形式

														对于主动公开信息，本机关主要采取网上公开和在当面受理点公开两种公开形式。本机关具体网址为：http://www.hkedu.sh.cn。本机关当面受理点地址为：天宝路1058号，开放时间为：工作日的9:00—11:30，13:30—17:00，联系电话：65758796。
</p>
											</div>
										</div>
									</div>
									<div id="education_tab" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper wpb_wrapper_pd">
												<p>
													2015年12月3、4日虹口区人民政府教育督导室一行七人，和党建、少先队、未保办、语言文字、特教、体育等对三中心小学进行为期两天的督导
													学校现有在编教职工126人，在岗119人，其中教师113人，35岁以下青年教师23人。学校拥有特级校长1人，中学高级职称11人，小学高级教师82人；上海市名班主任工作室主持人1人，上海市名师培养对象2人，区级教学骨干8人，全国劳动模范1人，市区园丁奖14人。
													学校艺术教育成绩斐然，艺术团队参加了市、区乃至全国的各项比赛都获得了优异的成绩，艺术教育水平已达到上海一流、全国先进、世界有影响。
													“大爱”校园，山阴、吉祥两个校区建成既有丰富人文内涵又有自然情趣，充分体现自身文化特征和发展实力，突出以人为本发展理念的舒适、文明、优美现代化校园和人文校园，成为虹口区一所硬件一流的学校。学校充分发挥环境文化的育人功能，开发以“快乐、健康”为主题的校本课程，努力满足学生的发展需求，拓展学生视野，陶冶学生情操，张扬学生个性，开发学生潜能，促进学生自主发展潜能的小学生。
												</p>
											</div>
										</div>
									</div>
									<div id="teachers_tab" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper wpb_wrapper_pd">
												<p>
													学历——中学：大学本科及以上学历；小学（幼）：大学专科及以上学历

													资历——研究生毕业见习期满半年，应届本科毕业生见习期满一年，应届大专毕业生专技岗位工作满三年，由本人申请，校教师聘任委员会对其进行考核，考核合格者可直接聘任中学二级教师职务或小学一级教师职务，报区中小学教师职务审核办公室备案。

													申报材料如下——初级教师职务认定表（一式二份）、个人小结、学校鉴定意见、教师业务考绩档案副本（最后附：年度考核、身份证（非上海户籍需提供一年以上的居住证）、学历证书、学位证书、新教师培训合格证书、相应学段的教师资格证、普通话证书等复印件）。
												</p>
											</div>
										</div>
									</div>
									<div id="policy_tab" class="wpb_tab ui-tabs-panel wpb_ui-tabs-hide vc_clearfix">
										<div class="wpb_text_column wpb_content_element ">
											<div class="wpb_wrapper wpb_wrapper_pd">
												<p>
													参加合格性考试的普通高中在籍学生基本信息由本市基础教育学生信息系统提供，学生通过其学籍所在学校集体报名。参加合格性考试的高中阶段其他学校在校学生和社会人员自行网上报名。

													所有参加等级性考试的考生实行网上报名。

													网上报名的考生须在规定时间到考试机构指定的现场进行确认。
												</p>
											</div>
										</div>
									</div>
									<div class="wpb_tour_next_prev_nav vc_clearfix wpb_slide">
										<span class="wpb_prev_slide"><a href="#prev" title="Previous tab">上一条</a></span>
										<span class="wpb_next_slide"><a href="#next" title="Next tab">下一条</a></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>  

@section css{
	@Styles.Render("~/css/composer")
} 

@section plugins{
	@Scripts.Render("~/js/jqueryui")
	@Scripts.Render("~/js/composer")
}
