@{ 
	var pageTitle = ViewBag.Title = "材料填写";
}
<!-- WIDGET TABBED CONTENT -->
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">

		<div class="alert alert-info alert-dismissable">
			<a href="" class="close">&times;</a>
			<strong>提示！</strong> 可以逐级展开或点选左侧材料填写项目树的节点，进行指定项目的内容填写。
		</div>

	</div>
</div>
<!-- END WIDGET TABBED CONTENT -->