

<!-- 教育教学 -->
<div class="tab-pane fade" id="tab2">

	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-公开课</h3>
		</div>
		<div class="widget-content">
			<div class="btn-group">
				<button class="btn btn-danger">新增</button>
			</div>
			<div class="alert alert-success">
				近三年 “公开课”情况（最多填两项）<br />（提示：本栏内容来源“自身发展”之“教学活动-开设教学公开课”）
			</div>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>时间</th>
							<th>地点</th>
							<th>班级</th>
							<th>课题/内容</th>
							<th>级别</th>
							<th>组织单位、部门</th>
							<th class="width240">操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-教育教学评比</h3>
		</div>
		<div class="widget-content">
			<div class="alert alert-info">
				近三年区级及以上“课堂教学评比或其他教育评比”情况（最多填两项）<br />（提示：本栏内容来源“自身发展”之“教学活动-参加教育教学评比”）
			</div>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>时间</th>
							<th>地点</th>
							<th>班级</th>
							<th>课题/内容</th>
							<th>级别</th>
							<th>组织单位、部门</th>
							<th class="width240">操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-学科命题</h3>
		</div>
		<div class="widget-content">
			<div class="alert alert-warning">
				近三年区级及以上“命题工作”（除幼教、特教外）情况（最多填两项）<br />（提示：本栏内容来源“配合教研员工作”之“学科命题”）
			</div><div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>时间</th>
							<th>地点</th>
							<th>班级</th>
							<th>课题/内容</th>
							<th>级别</th>
							<th>组织单位、部门</th>
							<th class="width240">操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-评委工作或评比获奖</h3>
		</div>
		<div class="widget-content">
			<div class="alert alert-info">
				近三年在市、区“教研活动发挥作用”（幼教、特教填写）情况（最多填两项）
			</div>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>时间</th>
							<th>地点</th>
							<th>班级</th>
							<th>课题/内容</th>
							<th>级别</th>
							<th>组织单位、部门</th>
							<th class="width240">操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->

</div>

<!-- 教育科研和教师培训 -->
<div class="tab-pane fade" id="tab3">

	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育科研-开展课题(项目)研究工作</h3>
		</div>
		<div class="widget-content">
			<div class="alert alert-success">
				近三年区级及以上“课题、项目”情况（最多填两项）<br />
				（提示：本栏内容来源“自身发展”之“教育教学科研成果-开展课题(项目)研究工作”）
			</div>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>时间</th>
							<th>地点</th>
							<th>班级</th>
							<th>课题/内容</th>
							<th>级别</th>
							<th>组织单位、部门</th>
							<th class="width240">操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->

</div>

<!-- 个人特色 -->
<div class="tab-pane fade" id="tab4">

	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学科研成果-论著情况</h3>
		</div>
		<div class="widget-content">
			<div class="alert alert-success">
				近三年正式出版“论著”情况（最多填两项）<br />（提示：本栏内容来源“自身发展”之“教育教学科研成果-论著情况”）
			</div>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>出版时间</th>
							<th>地点</th>
							<th>班级</th>
							<th>课题/内容</th>
							<th class="width240">操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>其他身份</h3>
		</div>
		<div class="widget-content">
			<div class="alert alert-info">
				近三年“其他身份”（与申报学科相关）情况（最多填两项）
			</div>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>出版时间</th>
							<th>地点</th>
							<th>班级</th>
							<th>课题/内容</th>
							<th class="width240">操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>学员成长</h3>
		</div>
		<div class="widget-content">
			<div class="alert alert-warning">
				近三年所带“学员成长”情况（最多填两项）
			</div>
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th>出版时间</th>
							<th>地点</th>
							<th>班级</th>
							<th>课题/内容</th>
							<th class="width240">操作</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->

</div>

<!-- 申报理由 -->
<div id="tab5" class="tab-pane fade">
	@Html.Partial("_reason")
</div>


@Html.Partial("../Utilities/_partialJS")