@{ 
	var pageTitle = ViewBag.Title = "申报填写";
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-gear"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-home"></i> @pageTitle</h2>
			<em>申报填写</em>
		</div>

		<div class="main-content">

			<!-- WIDGET TABBED CONTENT -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
						<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
					</div>
				</div>
				<div class="widget-content">

					<div class="alert alert-info alert-dismissable">
						<a href="" class="close">&times;</a>
						<strong>提示！</strong> 可以逐级展开或点选左侧材料填写项目树的节点，进行指定项目的申报内容填写。
					</div>

				</div>
			</div>
			<!-- END WIDGET TABBED CONTENT -->


		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Modals {
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}
@section Plugins{
@Scripts.Render("~/js/jstree")
}
@section Scripts {
	<script>
		var lastNode;
		function loadTreeFrag(cond) {
			var param;
			if (cond) { param = cond; }
			else { param = { key: lastNode.id}; }
			$.get('/DeclareMaterial/Fragment', param, function (data, status) {
				$('.main-content').html(data);
			})
		}
		$(function () {

			var $treeviewApp = $('#treeview-declare');

			$treeviewApp.jstree({
				'core': {
					'data': {
						'url': '/Json/GetDecalreMaterial?userId=@Html.GetUserProfile().UserId'
					},
					'check_callback': true,
				},
				'plugins': ['contextmenu', 'types'],
				'types': {
					'root': {
						'icon': 'fa fa-desktop'
					},
					'default': {
						'icon': 'fa fa-folder yellow-font'
					},
					'database': {
						'icon': 'fa fa-database yellow-font'
					},
					'table': {
						'icon': 'fa fa-table green-font'
					},
					'view': {
						'icon': 'fa fa-search text-primary'
					},
					'procedure': {
						'icon': 'fa fa-play-circle green-font'
					},
					'key': {
						'icon': 'fa fa-key text-primary'
					},
					'folder': {
						'icon': 'fa fa-folder yellow-font'
					},
					'content': {
						'icon': 'fa fa-pencil-square-o text-primary'
					},
					'active': {
						'icon': 'fa fa-table green-font'
					},
				}

			}).on('loaded.jstree', function () {
				$treeviewApp.jstree('open_all');
				//treeviewApp.jstree('open_node', '#root');
			}).on('changed.jstree', function (e, data) {
				
				lastNode = data.instance.get_node(data.selected);
				console.log(lastNode)
				loadTreeFrag();
			})

			$treeviewApp.parent().parent().show();

		})
	</script>
}