<!-- WIDGET TABBED CONTENT -->
<!-- 高地理事长 -->
<div class="widget">
	<div class="widget-header">
		<h3>学科高地理事长 <strong class="red">自荐表</strong></h3>
		<ul class="nav nav-tabs pull-right">
			<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 基本情况</a></li>
			<li><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 校内履职和教育教学</a></li>
			<li><a href="#tab3" data-toggle="tab"><i class="fa fa-tag"></i> 教育科研和教师培训</a></li>
			<li><a href="#tab4" data-toggle="tab"><i class="fa fa-tag"></i> 个人特色</a></li>
			<li><a href="#tab5" data-toggle="tab"><i class="fa fa-tag"></i> 申报理由</a></li>
		</ul>
	</div>
	<div class="widget-content">
		<div class="tab-content no-padding">

			<!-- 自身发展 -->
			<div class="tab-pane fade in active" id="tab1">
				<form action="/Studio/Profiles" method="post" class="form-horizontal form-group-sm" role="form" novalidate="novalidate">
					<input data-val="true" data-val-number="字段 修改周期ID 必须是一个数字。" data-val-required="修改周期ID 字段是必需的。" id="PeriodId" name="PeriodId" type="hidden" value="0">
					<div class="row">
						<fieldset class="col-md-6">

							<div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="RealName">真实姓名</label>
									<div class="col-md-9">
										<span class="form-control details-text">袁芳</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="IDCard">身份证件号</label>
									<div class="col-md-9">
										<span class="form-control details-text">31011019711009622X</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="TrainNo">师训编号</label>
									<div class="col-md-9">
										<input class="form-control" data-val="true" data-val-length="字段 师训编号 必须是最大长度为 20 的字符串。" data-val-length-max="20" id="TrainNo" name="TrainNo" type="text" value="">

									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="GenderPKID">性别</label>
									<div class="col-md-9">
										<select class="form-control valid" data-val="true" data-val-number="字段 性别 必须是一个数字。" data-val-required="性别 字段是必需的。" id="GenderPKID" name="GenderPKID" aria-required="true" aria-describedby="GenderPKID-error" aria-invalid="false">
											<option value="0">-- 未选 --</option>
											<option value="1001">男</option>
											<option selected="selected" value="1002">女</option>
											<option value="1003"></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="Birthday">出生年月</label>
									<div class="col-md-9">
										<span class="form-control details-text">1971-10-09</span>
										<span class="field-validation-valid" data-valmsg-for="Birthday" data-valmsg-replace="true"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="PoliticalStatusPKID">政治面貌</label>
									<div class="col-md-9">
										<select class="form-control valid" data-val="true" data-val-number="字段 政治面貌 必须是一个数字。" data-val-required="政治面貌 字段是必需的。" id="PoliticalStatusPKID" name="PoliticalStatusPKID" aria-required="true" aria-describedby="PoliticalStatusPKID-error" aria-invalid="false">
											<option selected="selected" value="0">-- 未选 --</option>
											<option value="1011">中国共产党党员</option>
											<option value="1012">中国共产党预备党员</option>
											<option value="1013">中国共产主义青年团团员</option>
											<option value="1014">中国国民党革命委员会会员</option>
											<option value="1015">中国民主同盟盟员</option>
											<option value="1016">中国民主建国会会员</option>
											<option value="1017">中国民主促进会会员</option>
											<option value="1018">中国农工民主党党员</option>
											<option value="1019">中国致公党党员</option>
											<option value="1020">九三学社社员</option>
											<option value="1021">台湾民主自治同盟盟员</option>
											<option value="1022">无党派民主人士</option>
											<option value="1023">群众</option>
											<option value="1029">其他</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="NationalityPKID">民族</label>
									<div class="col-md-9">
										<select class="form-control" data-val="true" data-val-number="字段 民族 必须是一个数字。" data-val-required="民族 字段是必需的。" id="NationalityPKID" name="NationalityPKID">
											<option selected="selected" value="0">-- 未选 --</option>
											<option value="1031">汉族</option>
											<option value="1032">蒙古族</option>
											<option value="1033">回族</option>
											<option value="1034">藏族</option>
											<option value="1035">维吾尔族</option>
											<option value="1036">苗族</option>
											<option value="1037">彝族</option>
											<option value="1038">壮族</option>
											<option value="1039">布依族</option>
											<option value="1040">朝鲜族</option>
											<option value="1041">满族</option>
											<option value="1042">侗族</option>
											<option value="1043">瑶族</option>
											<option value="1044">白族</option>
											<option value="1045">土家族</option>
											<option value="1046">哈尼族</option>
											<option value="1047">哈萨克族</option>
											<option value="1048">傣族</option>
											<option value="1049">黎族</option>
											<option value="1050">傈僳族</option>
											<option value="1051">佤族</option>
											<option value="1052">畲族</option>
											<option value="1053">高山族</option>
											<option value="1054">拉祜族</option>
											<option value="1055">水族</option>
											<option value="1056">东乡族</option>
											<option value="1057">纳西族</option>
											<option value="1058">景颇族</option>
											<option value="1059">柯尔克孜族</option>
											<option value="1060">土族</option>
											<option value="1061">达斡尔族</option>
											<option value="1062">仫佬族</option>
											<option value="1063">羌族</option>
											<option value="1064">布朗族</option>
											<option value="1065">撒拉族</option>
											<option value="1066">毛难族</option>
											<option value="1067">仡佬族</option>
											<option value="1068">锡伯族</option>
											<option value="1069">阿昌族</option>
											<option value="1070">普米族</option>
											<option value="1071">塔吉克族</option>
											<option value="1072">怒族</option>
											<option value="1073">乌孜别克族</option>
											<option value="1074">俄罗斯族</option>
											<option value="1075">鄂温克族</option>
											<option value="1076">德昂族</option>
											<option value="1077">保安族</option>
											<option value="1078">裕固族</option>
											<option value="1079">京族</option>
											<option value="1080">塔塔尔族</option>
											<option value="1081">独龙族</option>
											<option value="1082">鄂伦春族</option>
											<option value="1083">赫哲族</option>
											<option value="1084">门巴族</option>
											<option value="1085">珞巴族</option>
											<option value="1086">基诺族</option>
											<option value="1129">其他</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-offset-2">
									<button type="submit" class="btn btn-custom-primary btn-save"><i class="fa fa-save"></i> 保存</button>
								</div>
							</div>
						</fieldset>
						<fieldset class="col-md-6">
							@*<div class="panel-heading">
									<h4 class="panel-title">工作经历</h4>
								</div>*@
							<div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="EduSubjectPKID">任教学科</label>
									<div class="col-md-9">
										<select class="form-control" data-val="true" data-val-number="字段 任教学科 必须是一个数字。" data-val-required="任教学科 字段是必需的。" id="EduSubjectPKID" name="EduSubjectPKID">
											<option selected="selected" value="0">-- 未选 --</option>
											<option value="1501">品德与社会</option>
											<option value="1502">思想品德</option>
											<option value="1503">语文</option>
											<option value="1504">数学</option>
											<option value="1505">科学</option>
											<option value="1506">物理</option>
											<option value="1507">化学</option>
											<option value="1508">地理</option>
											<option value="1509">历史</option>
											<option value="1510">体育与健身</option>
											<option value="1511">艺术</option>
											<option value="1512">音乐</option>
											<option value="1513">美术</option>
											<option value="1514">思想政治</option>
											<option value="1515">社会</option>
											<option value="1516">生命科学</option>
											<option value="1517">科学与技术</option>
											<option value="1518">自然</option>
											<option value="1519">外语</option>
											<option value="1520">英语</option>
											<option value="1521">日语</option>
											<option value="1522">俄语</option>
											<option value="1523">其他外国语</option>
											<option value="1524">综合实践活动</option>
											<option value="1525">信息科技</option>
											<option value="1526">劳动技术</option>
											<option value="1527">教育心理</option>
											<option value="1528">拓展、探究</option>
											<option value="1529">职业生涯教育</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="EduStagePKID">任教学段</label>
									<div class="col-md-9">
										<select class="form-control valid" data-val="true" data-val-number="字段 任教学段 必须是一个数字。" data-val-required="任教学段 字段是必需的。" id="EduStagePKID" name="EduStagePKID" aria-required="true" aria-describedby="EduStagePKID-error" aria-invalid="false">
											<option selected="selected" value="0">-- 未选 --</option>
											<option value="1601">学前教育</option>
											<option value="1602">小学</option>
											<option value="1603">普通初中</option>
											<option value="1604">普通高中</option>
											<option value="1605">职业初中</option>
											<option value="1606">职业高中</option>
											<option value="1607">成人中等专业学校</option>
											<option value="1608">成人中学</option>
											<option value="1609">特殊教育</option>
											<option value="1619">其他</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="JobDate">参加教育工作年月</label>
									<div class="col-md-9">
										<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
											<input class="form-control" data-val="true" data-val-date="字段 参加教育工作年月 必须是日期。" data-val-required="参加教育工作年月 字段是必需的。" id="JobDate" name="JobDate" type="text" value="">
											<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="SkillTitlePKID">现任专技职称</label>
									<div class="col-md-9">
										<select class="form-control" data-val="true" data-val-number="字段 现任专技职称 必须是一个数字。" data-val-required="现任专技职称 字段是必需的。" id="SkillTitlePKID" name="SkillTitlePKID">
											<option selected="selected" value="0">-- 未选 --</option>
											<option value="1381">正高级教师(正高级)</option>
											<option value="1382">高级教师(副高级)</option>
											<option value="1383">一级教师(中级)</option>
											<option value="1384">二级教师(助理级)</option>
											<option value="1385">三级教师(员级)</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="SkillDate">职称通过年月</label>
									<div class="col-md-9">
										<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
											<input class="form-control" data-val="true" data-val-date="字段 职称通过年月 必须是日期。" data-val-required="职称通过年月 字段是必需的。" id="SkillDate" name="SkillDate" type="text" value="">
											<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="CompanyName">单位</label>
									<div class="col-md-9">
										<span class="form-control details-text">上海市虹口区教师进修学院</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="Companyaddress">单位地址</label>
									<div class="col-md-9">
										<input class="form-control" data-val="true" data-val-length="字段 单位地址 必须是最大长度为 255 的字符串。" data-val-length-max="255" data-val-required="单位地址 字段是必需的。" id="Companyaddress" name="Companyaddress" type="text" value="">
										<span class="field-validation-valid" data-valmsg-for="Companyaddress" data-valmsg-replace="true"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="RankTitlePKID">行政职务</label>
									<div class="col-md-9">
										<select class="form-control" data-val="true" data-val-number="字段 行政职务 必须是一个数字。" data-val-required="行政职务 字段是必需的。" id="RankTitlePKID" name="RankTitlePKID">
											<option selected="selected" value="0">-- 未选 --</option>
											<option value="1411">教师</option>
											<option value="1412">教师兼行政</option>
											<option value="1413">教研室主任（组长）</option>
											<option value="1414">年级主任（组长）</option>
											<option value="1415">班主任</option>
											<option value="1416">辅导员、教练员</option>
											<option value="1417">共青团工作负责人</option>
											<option value="1418">工会工作负责人</option>
											<option value="1419">妇女工作负责人</option>
											<option value="1420">其他工作负责人</option>
											<option value="1421">行政</option>
											<option value="1422">校领导</option>
											<option value="1423">行政处室负责人</option>
											<option value="1424">行政处室工作</option>
											<option value="1425">行政兼教学工作</option>
											<option value="1426">教辅</option>
											<option value="1427">实习实验工作与管理</option>
											<option value="1428">教学仪器设备维护与管理</option>
											<option value="1429">体育设备设施维护与管理</option>
										</select>
									</div>
								</div>
							</div>

						</fieldset>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">市“双名工程”上一轮区高地、基地任职情况</h4>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<div class="col-md-3"><input type="checkbox" value="" style="vertical-align:middle;width:20px;height:20px" />&nbsp;&nbsp;<span style="vertical-align:middle;">“高峰计划”主持人</span></div>
								<div class="col-md-3"><input type="checkbox" value="" style="vertical-align:middle;width:20px;height:20px" />&nbsp;&nbsp;<span style="vertical-align:middle;">“高峰计划”主持人</span></div>
								<div class="col-md-3"><input type="checkbox" value="" style="vertical-align:middle;width:20px;height:20px" />&nbsp;&nbsp;<span style="vertical-align:middle;">“高峰计划”主持人</span></div>
								<div class="col-md-3"><input type="checkbox" value="" style="vertical-align:middle;width:20px;height:20px" />&nbsp;&nbsp;<span style="vertical-align:middle;">“高峰计划”主持人</span></div>
								<div class="col-md-3"><input type="checkbox" value="" style="vertical-align:middle;width:20px;height:20px" />&nbsp;&nbsp;<span style="vertical-align:middle;">“高峰计划”主持人</span></div>
								<div class="col-md-3"><input type="checkbox" value="" style="vertical-align:middle;width:20px;height:20px" />&nbsp;&nbsp;<span style="vertical-align:middle;">“高峰计划”主持人</span></div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<!-- 培训课程 -->
			<div class="tab-pane fade" id="tab2">

				<!-- WIDGET TABBED CONTENT -->
				<div class="widget">
					<div class="widget-header">
						<h3><i class="fa fa-paperclip"></i>教育教学-公开课</h3>
					</div>
					<div class="widget-content">

						<div class="table-responsive">
							<table class="table table-condensed table-striped table-hover">
								<thead>
									<tr>
										<th>时间</th>
										<th>地点</th>
										<th>班级</th>
										<th>课题/内容</th>
										<th>级别</th>
										<th>组织单位、部门</th>
										<th class="width240">操作</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>

					</div>
				</div>
				<!-- END WIDGET TABBED CONTENT -->

				<!-- WIDGET TABBED CONTENT -->
				<div class="widget">
					<div class="widget-header">
						<h3><i class="fa fa-paperclip"></i>教育教学</h3>
					</div>
					<div class="widget-content">
						<div class="alert alert-success">
							近三年 “公开课”情况（最多填两项）<br />
							（提示：本栏内容来源“自身发展”之“教学活动-开设教学公开课”）

						</div>
						<div class="table-responsive">
							<table class="table table-condensed table-striped table-hover">
								<thead>
									<tr>
										<th>时间</th>
										<th>地点</th>
										<th>班级</th>
										<th>课题/内容</th>
										<th>级别</th>
										<th>组织单位、部门</th>
										<th class="width240">操作</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>


						<div class="alert alert-info">
							近三年区级及以上“课堂教学评比或其他教育评比”情况（最多填两项）<br />
							（提示：本栏内容来源“自身发展”之“教学活动-参加教育教学评比”）
						</div>

						<div class="table-responsive">
							<table class="table table-condensed table-striped table-hover">
								<thead>
									<tr>
										<th>时间</th>
										<th>地点</th>
										<th>班级</th>
										<th>课题/内容</th>
										<th>级别</th>
										<th>组织单位、部门</th>
										<th class="width240">操作</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>

						<div class="alert alert-warning">
							近三年区级及以上“命题工作”（除幼教、特教外）情况（最多填两项）<br />
							（提示：本栏内容来源“配合教研员工作”之“学科命题”）
						</div>

						<div class="table-responsive">
							<table class="table table-condensed table-striped table-hover">
								<thead>
									<tr>
										<th>时间</th>
										<th>地点</th>
										<th>班级</th>
										<th>课题/内容</th>
										<th>级别</th>
										<th>组织单位、部门</th>
										<th class="width240">操作</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>

						<div class="alert alert-danger">
							近三年区级及以上“命题工作”（除幼教、特教外）情况（最多填两项）<br />
							（提示：本栏内容来源“配合教研员工作”之“学科命题”）
						</div>

						<div class="table-responsive">
							<table class="table table-condensed table-striped table-hover">
								<thead>
									<tr>
										<th>时间</th>
										<th>地点</th>
										<th>班级</th>
										<th>课题/内容</th>
										<th>级别</th>
										<th>组织单位、部门</th>
										<th class="width240">操作</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>

						<div class="alert alert-dismissible">
							近三年在市、区“教研活动发挥作用”（幼教、特教填写）情况
							（最多填两项）
						</div>

						<div class="table-responsive">
							<table class="table table-condensed table-striped table-hover">
								<thead>
									<tr>
										<th>时间</th>
										<th>地点</th>
										<th>班级</th>
										<th>课题/内容</th>
										<th>级别</th>
										<th>组织单位、部门</th>
										<th class="width240">操作</th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>

					</div>
				</div>
				<!-- END WIDGET TABBED CONTENT -->

			</div>

			<!-- 带教教师 -->
			<div class="tab-pane fade" id="tab3">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th class="table-col-20p">任务要求</th>
							<th class="table-col-10p">考核分类</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<tbody>
						<!-- 学员数量 -->
						<tr>
							<td rowspan="5">学员数量</td>
							<td rowspan="5"></td>
							<td rowspan="5"></td>
							<td rowspan="2">达量质考</td>
							<td>A：10≤学员人数</td>
							<td>0.9分--1.0分</td>
						</tr>
						<tr>
							<td>B：7≤学员人数≤9</td>
							<td>0.8分--0.9分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：5≤学员人数≤6</td>
							<td>0.3分--0.4分</td>
						</tr>
						<tr>
							<td>B：1≤学员人数≤4</td>
							<td>0.2分--0.3分</td>
						</tr>
						<tr>
							<td>C：无学员</td>
							<td>0分</td>
						</tr>
						<!-- 带教计划（方案）、小结 -->
						<tr>
							<td rowspan="6">带教计划（方案）、小结</td>
							<td rowspan="6"></td>
							<td rowspan="6">有年度带教实施计划（方案）；有年度小结</td>
							<td rowspan="4">达量质考</td>
							<td>A：计划、小结有总体性、有针对性强，实施效果好</td>
							<td>3.6分--4.0分</td>
						</tr>
						<tr>
							<td>B：计划、小结有总体性，有一定的针对性，实施较好</td>
							<td>3.2分--3.6分</td>
						</tr>
						<tr>
							<td>C：计划、小结针对性不强，计划的多数活动进行了实施</td>
							<td>2.8分--3.2分</td>
						</tr>
						<tr>
							<td>D：计划中部分内容进行了实施、小结，无突出的效果</td>
							<td>2.4分--2.8分</td>
						</tr>
						<tr>
							<td rowspan="2">减量质考</td>
							<td>A：有计划、无小结；或者无计划、有小结</td>
							<td>1.2分--1.6分</td>
						</tr>
						<tr>
							<td>B：没有相关的材料</td>
							<td>0分</td>
						</tr>
						<!-- 学员的成长分析 -->
						<tr>
							<td rowspan="7">学员的成长分析</td>
							<td rowspan="7"></td>
							<td rowspan="7">有每1位带教学员的年度成长分析</td>
							<td rowspan="4">达量质考</td>
							<td>A：针对性强，对学员的成长有非常大的帮助、指导作用</td>
							<td>3.6分--4.0分</td>
						</tr>
						<tr>
							<td>B：针对性强，对学员的成长有较强的指导作用</td>
							<td>3.2分--3.6分</td>
						</tr>
						<tr>
							<td>C：有针对性，对学员的成长有一定的指导作用</td>
							<td>2.8分--3.2分</td>
						</tr>
						<tr>
							<td>D：对部分学员的成长有一些指导作用</td>
							<td>2.4分--2.8分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：约80%的学员有成长分析</td>
							<td>1.2分--1.6分</td>
						</tr>
						<tr>
							<td>B：约半数的学员有成长分析</td>
							<td>0.4分--0.8分</td>
						</tr>
						<tr>
							<td>C：没有相关的材料</td>
							<td>0分</td>
						</tr>
						<!-- 带教指导 -->
						<tr>
							<td rowspan="7">带教指导</td>
							<td rowspan="7"></td>
							<td rowspan="7">
								1.至少有8份日常共性类指导；<br />
								2.每位学员必须有4份听课指导；<br />
								3.每位学员必须有教案类修改指导数量+论文 或者课题修改指导(共2份指导，2种指导各选其一或者其中一项指导数量为2份)；<br />
							</td>
							<td rowspan="4">达量质考</td>
							<td>A：指导有很高的价值，个别指导对专业提升的作用很强</td>
							<td>14.4分--16.0分</td>
						</tr>
						<tr>
							<td>B：指导有较高的价值，对部分学员的专业提升的作用很强</td>
							<td>12.8分--14.4分</td>
						</tr>
						<tr>
							<td>C：开展的指导工作对学员的专业提升作用较好</td>
							<td>11.2分--12.8分</td>
						</tr>
						<tr>
							<td>D：开展的指导工作对学员的专业提升作用一般</td>
							<td>9.6分--11.2分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：材料未达到要求的数量（有过半以上），但质量非常好</td>
							<td>4.8分--6.4分</td>
						</tr>
						<tr>
							<td>B：材料数量较少（未过半），质量尚可</td>
							<td>1.6分--3.2分</td>
						</tr>
						<tr>
							<td>C：没有相关的材料</td>
							<td>0分</td>
						</tr>
						<!-- 开展示课 -->
						<tr>
							<td rowspan="7">开展示课</td>
							<td rowspan="21">此三项指标分值累加，上限不超过2项最高得分之和</td>
							<td rowspan="7">每位学员至少开设1节区级及以上的展示课</td>
							<td rowspan="4">达量质考</td>
							<td>A：展示课总体质量较高</td>
							<td>6.7分--7.5分</td>
						</tr>
						<tr>
							<td>B：展示课中有部分质量较高</td>
							<td>6.0分--6.7分</td>
						</tr>
						<tr>
							<td>C：展示课总体质量较好</td>
							<td>5.3分--6.0分</td>
						</tr>
						<tr>
							<td>D：展示课中部分质量较好</td>
							<td>4.5分--5.3分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：有80%以上的学员开设了展示课</td>
							<td>2.2分--3.0分</td>
						</tr>
						<tr>
							<td>B：约一半人数的学员开设了展示课</td>
							<td>0.7分--1.5分</td>
						</tr>
						<tr>
							<td>C：无校级及以上的展示课；或仅30%的学员有展示课</td>
							<td>0分</td>
						</tr>
						<!-- 发表论文或参与课题研究 -->
						<tr>
							<td rowspan="7">发表论文或参与课题研究</td>
							<td rowspan="7">每位学员至少发表1篇区级及以上的论文</td>
							<td rowspan="4">达量质考</td>
							<td>A：论文或课题成果总体质量较高</td>
							<td>6.7分--7.5分</td>
						</tr>
						<tr>
							<td>B：论文或课题成果中有部分质量较高</td>
							<td>6.0分--6.7分</td>
						</tr>
						<tr>
							<td>C：论文或课题成果总体质量较好</td>
							<td>5.3分--6.0分</td>
						</tr>
						<tr>
							<td>D：论文或课题成果部分质量较好</td>
							<td>4.5分--5.3分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：有80%以上的学员有论文、课题成果</td>
							<td>2.2分--3.0分</td>
						</tr>
						<tr>
							<td>B：约一半人数的学员有论文、课题成果</td>
							<td>0.7分--1.5分</td>
						</tr>
						<tr>
							<td>C：无论文或课题成果；或仅30%的学员有论文、课题成果</td>
							<td>0分</td>
						</tr>
						<!-- 教育教学评比 -->
						<tr>
							<td rowspan="7">教育教学评比</td>
							<td rowspan="7">每位学员至少拥有1项区级及以上评比奖项</td>
							<td rowspan="4">达量质考</td>
							<td>A：奖项中多数为市区级、总体质量较高</td>
							<td>6.7分--7.5分</td>
						</tr>
						<tr>
							<td>B：奖项中大多为区级及以上，且质量较高</td>
							<td>6.0分--6.7分</td>
						</tr>
						<tr>
							<td>C：奖项有一半为区级，有少量市级</td>
							<td>5.3分--6.0分</td>
						</tr>
						<tr>
							<td>D：奖项中多数为校级，市级极少</td>
							<td>4.5分--5.3分</td>
						</tr>
						<tr>
							<td rowspan="3">减量质考</td>
							<td>A：有80%以上的学员获得奖项</td>
							<td>2.2分--3.0分</td>
						</tr>
						<tr>
							<td>B：约一半人数的学员获得奖项</td>
							<td>0.7分--1.5分</td>
						</tr>
						<tr>
							<td>C：无获奖；或仅30%的学员有获奖</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- 特色 -->
			<div class="tab-pane fade" id="tab4">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-10p">评价指标</th>
							<th class="table-col-20p">指标说明</th>
							<th class="table-col-20p">任务要求</th>
							<th class="table-col-10p">考核分类</th>
							<th>指标项</th>
							<th class="table-col-10p">分值/统计标准</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<!-- 出版专著(合著) -->
							<td>出版专著(合著)</td>
							<td rowspan="7">此五项指标取其一，且仅取最高得分项</td>
							<td rowspan="7">有符合要求的材料就可</td>
							<td rowspan="5">达量质考</td>

							<td>A：学科类专著</td>
							<td>4分--5分</td>
						</tr>
						<!-- 参与市级教材编写 -->
						<tr>
							<td rowspan="2">参与市级教材编写</td>
							<td>A：担任市级教材编写的主编或副主编</td>
							<td>4分--5分</td>
						</tr>
						<tr>
							<td>B：参与市级教材的编写、修改、审核</td>
							<td>2分--3分</td>
						</tr>
						<!-- 任市重点项目的主要负责人 -->
						<tr>
							<td>任市重点项目的主要负责人</td>
							<td>A：负责市级重点项目研究</td>
							<td>4分--5分</td>
						</tr>
						<!-- 市级基地主持（副主持）人 -->
						<tr>
							<td>市级基地主持（副主持）人</td>
							<td>A：担任市级名教师培训基地主持（副主持）人</td>
							<td>4.8分--5分</td>
						</tr>
						<!-- 其他 -->
						<tr>
							<td rowspan="2">其他</td>
							<td rowspan="2">减量质考</td>
							<td>A：在教学、科研、培训、带教学员方面有特别突出的成绩（需用文字进行说明）</td>
							<td>0.5分--0.75分</td>
						</tr>
						<tr>
							<td>B：无符合可加分的材料</td>
							<td>0分</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>