@model List<MulTempListViewModel>

<div class="col-md-12">
	<table class="table table-striped table-hover table-dark-header">
		<thead>
			<tr>
				<th>类别名称</th>
				<th>已评人数</th>
				<th>未评人数</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.EvalCount</td>
					<td>@(item.Count - item.EvalCount)</td>
				</tr>
			}
		</tbody>
	</table>
</div>
